<ion-header>
  <ion-toolbar>
    <ion-title>trackRequest</ion-title>
  </ion-toolbar>
  <ion-tabs class="tabs">
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="schedule">
          
          <ion-label>Schedule</ion-label>
       
        </ion-tab-button>
    
        <ion-tab-button tab="speakers">
    
          <ion-label>Speakers</ion-label>
        </ion-tab-button>
    
        <ion-tab-button tab="map">
          
          <ion-label>Map</ion-label>
        </ion-tab-button>
    
        <ion-tab-button tab="about">
         
          <ion-label>About</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
</ion-header>

<ion-content>

</ion-content>