<!-- <ion-header>
  <ion-toolbar color="danger">
    <ion-title >trackRequest</ion-title>
  </ion-toolbar>

</ion-header> -->

<ion-content>
  <ion-tabs class="tabs" >
    <ion-tab-bar style="height: 93px;" slot="top" aria-selected=true>
        <img src="../assets/images/tool.png" alt="">
      <ion-tab-button tab="requestHistory" style="position: relative;top: 20px;" fill=>

        <ion-label>MY REQUEST HISTORY</ion-label>

      </ion-tab-button>

      <ion-tab-button tab="requestApproved" style="position: relative;top: 20px;">

        <ion-label>MY REQUEST APPROVED</ion-label>
      </ion-tab-button>




    </ion-tab-bar>
  </ion-tabs>
</ion-content>
