<ion-header>
  <ion-toolbar color="medium">

    <img src="../assets/images/toolbar1.png">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="top" aria-selected=true color="medium" translucent="true">



      <ion-tab-button tab="requestHistory">

        <ion-label>MY REQUEST HISTORY</ion-label>

      </ion-tab-button>

      <ion-tab-button tab="requestApproved">

        <ion-label>MY REQUEST APPROVED</ion-label>
      </ion-tab-button>




    </ion-tab-bar>
  </ion-tabs>

</ion-content>