<ion-header>
  <ion-toolbar>
    <ion-title>trackRequest</ion-title>
 
  <ion-tab-bar slot="bottom" color="success" >
    <ion-tab-button tab="home">
       
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="trackRequest">
       
      <ion-label>TrackRequest</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      
      <ion-label>Settings</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="logout" [routerLink]="['/login']" >
        
      <ion-label>Logout</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-toolbar>
</ion-header>
<ion-content>

</ion-content>
