<ion-header>
  <ion-toolbar color='primary'>
    <img src="../assets/logo/screen_logo.png" alt="IAMS" class="ToolbarLogo">
    <ion-title>my-pending-approval</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
