.ToolbarLogo{
    width: 90px;
    height: 90px;
    margin-left: 62px;
    margin-top: -15px;
    margin-bottom: -17px;
}
ion-toolbar{
    height: 68px;
}
.expandRequest{
    width: 338px;
    min-height: 73px;
    background-color: #E4E4E4;

}
.Heading{
    font-size: 18px;
    color: #083B66;
    font-weight: bold;
    font-family: Sitka Heading;
    display: inline-block;
    margin-left: 81px;
    margin-top: 30px;
}