<ion-header>
  <ion-toolbar color="danger">

    <img src="../assets/images/toolbar.png">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="dash-board"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content>
  <div class="ion-text-center">
    <p class='Heading'> MY PENDING REQUEST</p>
  </div>

  <ion-grid>
    <ion-row *ngFor="let d of dummyData | async" style="height: 68px;">
      <ion-col>
        <div>
          <ion-grid>
            <ion-card class="expandRequest" [routerLink]="['/access-queue',d.id]">
              <ion-row>
                <ion-col size="10" class="ion-float-left">
                  
                  <div class="requestName" text-center>
                    {{d.requestName}}
                    <!-- {{d.pendingRequestDetailed[0].transactionNumber}} -->
                    <div *ngFor="let d of ">

                    </div>
                  </div>

                </ion-col>
                <ion-col class="ion-float-right" >
                  <ion-icon name="arrow-forward" style="margin-top: 16px;color: #2269a4cc;"></ion-icon>
                </ion-col>



              </ion-row>
            </ion-card>
          </ion-grid>


        </div>
      </ion-col>

    </ion-row>

  </ion-grid>


  <!-- <ion-grid>

    <div *ngIf="!fakeData">
      <ion-row *ngFor="let d of count">
        <ion-col>
          <div class="expandRequest">
            <ion-grid>
              <ion-row>
                <ion-col class="accessType">
                  <ion-skeleton-text animated style="width: 171.31px;height: 16px;"></ion-skeleton-text>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="dateAndTime">
                  <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid> -->



</ion-content>