

   <ion-toolbar >
     <img src="../assets/images/toolbar.png" >
     
     <div class="backArrow">

      <ion-icon style="width: 30px;height: 30px;" name="arrow-back" ></ion-icon>
    </div>
   </ion-toolbar>

 


<ion-content>


  <div class="ion-text-center">
    <p class='Heading'> MY PENDING REQUEST</p>

  </div>

  <ion-grid>
    <div *ngIf="dummyData">


      <ion-row *ngFor="let d of dummyData | async">
        <ion-col size-md="6" offset-md="3">
          <div class="expandRequest">
            <ion-grid>
              <ion-row>

                <ion-col>
                    <div [routerLink]="['/access-request-page',d.id]"  class="ion-float-left" >
                      {{d.accessType}}
                    </div>
                </ion-col>
                <ion-col>
                  <div>
                    <ion-icon name="arrow-down"></ion-icon>

                  </div>
                </ion-col>
              </ion-row>
              <ion-row>
                  <ion-col>
                      <div class="ion-float-left">

               {{d.dateAndTime}}
             </div>
               </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                    <toggle-content></toggle-content>
                </ion-col>
              </ion-row>
            </ion-grid>
                
         
          
           
<!--           
            <toggle-content >

              <ion-grid>
                <ion-row>
                  <ion-col>
                      <div text-justify>
                          {{d.description}}
                      
                        </div>
                  </ion-col>
                </ion-row>
              </ion-grid>
            
            </toggle-content> -->

          </div>

        </ion-col>


      </ion-row>
    </div>
    <div *ngIf="!dummyData">


      <ion-row *ngFor="let d of loadRequest">
        <ion-col size-md="6" offset-md="3">
          <div class="expandRequestFake">
            <p class="pfake"></p>
            <p class="p2fake"></p>
            <p class="p3fake"></p>
          </div>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>

</ion-content>