<ion-header>
  <ion-toolbar color='primary'>
    <img src="../assets/logo/screen_logo.png" alt="IAMS" class="ToolbarLogo">
  </ion-toolbar>
</ion-header>

<ion-content>
  <label class='Heading' ><span class="ion-text-center">
    
  </span>
    </label>
<div class='expandRequest'>
Lorem ipsum dolor sit amet consectetur adipisicing elit. 
</div>
</ion-content>
