<ion-header>
  <ion-toolbar color="danger">

    <img src="../assets/images/toolbar.png">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="dash-board"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content>
  <div class="ion-text-center">
    <p class='Heading'> MY PENDING REQUEST</p>
  </div>

  <ion-grid>
    <ion-row *ngFor="let d of dummyData | async" style="height: 68px;">
      <ion-col >
        <div>
          <ion-grid>
            <ion-card class="expandRequest">
              <ion-row>
                <ion-col >
           
                  <div text-center class="requestName">
                    {{d.requestName}}
                  </div>
                 
                </ion-col>
           


              </ion-row>
            </ion-card>
          </ion-grid>


        </div>
      </ion-col>

    </ion-row>

  </ion-grid>


  <!-- <ion-grid>

    <div *ngIf="!fakeData">
      <ion-row *ngFor="let d of count">
        <ion-col>
          <div class="expandRequest">
            <ion-grid>
              <ion-row>
                <ion-col class="accessType">
                  <ion-skeleton-text animated style="width: 171.31px;height: 16px;"></ion-skeleton-text>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="dateAndTime">
                  <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid> -->



</ion-content>