ion-card {
  height: 146px;
}
.name {
  color: #083b66;
  font-weight: bold;
  font-style: Sitka Heading;
  font-family: Sitka Heading;
  font-size: 20px;
  margin-left: 12px;
  position: relative;
  top: 11px;
}
.cardIcon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60px;
}

.cardFont {
  font-family: Roboto;
  color: black;
}
.footerIcon {
  width: 25px;
}

// @media (width:640px) {
//   ion-toolbar{
//   max-height: 91px;

// }

// .portrait{
//   display: none;
// }
@media screen and (min-width: 0px) and (max-width: 400px) {
  .lasnScape{
    di
  }
}

@media screen and (min-width: 401px) and (max-width: 1024px) {
  
}
