
 <ion-header>
    <ion-toolbar color="danger">
        
      <img src="../assets/images/toolbar.png">
      <ion-buttons slot="start">
        <ion-back-button  defaultHref="dash-board"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>



<ion-content>

 <ion-card>
   
 </ion-card>

   
</ion-content>


