
 <ion-header>
    <ion-toolbar color="danger">
        
      <img src="../assets/images/toolbar.png">
      <ion-buttons slot="start">
        <ion-back-button  defaultHref="dash-board"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>



<ion-content>

<ion-grid>
  <ion-row>
    <ion-col>
     {{accessName}} 
    </ion-col>

  </ion-row>
  <ion-row>
    <ion-grid>
      <ion-row >
        <ion-col>
          <ion-card>
           {{transactionNumber}}
           {{business}}
           {{role}}
           {{purpose}}
           {{}}
          </ion-card>
          </ion-col>

        </ion-row>
      </ion-grid>
  </ion-row>

</ion-grid>


   
</ion-content>


