<ion-header>
  <ion-toolbar color="danger">

    <img src="../assets/images/toolbar.png">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="dash-board"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col>
        Gary
      </ion-col>

    </ion-row>
    <ion-row>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-card>
              <ion-grid>
                <br>
                <ion-row>
                  <ion-col>
                    <label>Transaction No : </label>

                  </ion-col>
                  <ion-col>
                    <span>{{transactionNumber}}</span>
                  </ion-col>
                </ion-row>
                <br>
                <ion-row>
                  <ion-col>
                    <label>Business Name : </label>

                  </ion-col>
                  <ion-col>
                    <span>{{business}}</span>
                  </ion-col>
                </ion-row>
                <br>
                <ion-row>
                  <ion-col>
                    <label>Business Role : </label>

                  </ion-col>
                  <ion-col>
                    <span>{{role}}</span>
                  </ion-col>
                </ion-row>
                <br>
                <ion-row>
                  <ion-col>
                    <label>Desired Date : </label>

                  </ion-col>
                  <ion-col>
                    <span>{{desiredDate}}</span>
                  </ion-col>
                </ion-row>
                <br>
                <ion-row>
                  <ion-col>
                    <label>Purpose : </label>

                  </ion-col>
                  <ion-col>
                    <span>{{purpose}}</span>
                  </ion-col>
                </ion-row>
                <br>
                <ion-row>
                  <ion-col>

                    {{description}}
                  </ion-col>
                </ion-row>
                <br>
                <ion-row>
                  <ion-col>

                    <ion-item>
                      <ion-textarea placeholder="Enter more information here..."></ion-textarea>
                    </ion-item>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card>
          </ion-col>

        </ion-row>
        <ion-row
      </ion-grid>
    </ion-row>

  </ion-grid>
  <!-- 
{{transactionNumber}}
{{business}}
{{role}}
{{purpose}}
{{desiredDate}} -->

</ion-content>