
 <ion-header>
    <ion-toolbar color="danger">
        
      <img src="../assets/images/toolbar.png">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>



<ion-content>

    <ion-card>
        <ion-card-header>
         <div class="ion-text-center">
            {{accessType}}
         </div>
        </ion-card-header>
     
        <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col >
                  <div class="ion-float-left">
                      Role Name
                  </div>
                  <div class="ion-float-right">
                      {{transactionNo}}
                  </div>
                </ion-col>
                
           
              </ion-row>
              <br>
              <ion-row>
                  <ion-col >
                      <div class="ion-float-left">
                          Access Date
                      </div>
                      <div class="ion-float-right">
                          {{dateAndTime}}
                      </div>
                    </ion-col>
              </ion-row>
              <br>
              <ion-row>
                  <ion-col >
                      <div class="ion-float-left">
                          Expiry Date
                      </div>
                      <div class="ion-float-right">
                          {{dateAndTime}}
                      </div>
                    </ion-col>
              </ion-row>
              <br>
              <ion-row>
                  <ion-col >
                      <div class="ion-float-left">
                          Requested By
                      </div>
                      <div class="ion-float-right">
                          Charles
                      </div>
                    </ion-col>
              </ion-row>
              <br>
              <ion-row>
                  <ion-col >
                      <div text-justify>
                          {{description}}
                      </div>
                     
                    </ion-col>
              </ion-row>
             
            </ion-grid>
            <br>
           
            <ion-item>
                <ion-textarea placeholder="comments"></ion-textarea>
              </ion-item>
        </ion-card-content>
      </ion-card>
      <ion-grid>
      <ion-row>
        <ion-col >
          <div text-right>

            <ion-button color="secondary"  size="small">PushBack</ion-button>
       
              <ion-button color="secondary" size="small" >Approve</ion-button>
          </div>
        </ion-col>
      </ion-row>
      </ion-grid>
    

    
      
</ion-content>



<!-- {{accessType}}
<br>
{{transactionNo}}
<br>
{{dateAndTime}}
<br>
{{description}} -->
