<ion-header>
  <ion-toolbar>
    <ion-title>access-request-page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>



<!-- {{accessType}}
<br>
{{transactionNo}}
<br>
{{dateAndTime}}
<br>
{{description}} -->
