<div class='expandRequest' (click)="toggle()">

  <div >
    <label class="accessHeading">{{accessType}}</label>
    <label class="accessTransNo">Transaction no {{transactionNum}}</label>
    <div class="accessDate">{{dateAndTime}}</div>

  </div>



  <ng-content *ngIf="visible">
  </ng-content>
</div>