<ion-content>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">

  
  <ion-grid>
    <ion-row>
      <br><br>
    </ion-row>
    <ion-row>
      <ion-col>
        <img src="../assets/images/logo.png" alt="IAMS" class="logo">
      </ion-col>
    </ion-row>
    <br>
    <br>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="fixed" class="username">
            <ion-icon name="person" style="color: #1761A0;"></ion-icon>
          </ion-label>
          <ion-input formControlName="username" ></ion-input>
        </ion-item>
        <div *ngIf="submitted && frm.username.errors" class="invalid-feedback">
          
            <ion-item lines="none" *ngIf="frm.username.errors.required" >
                <p style="color:red;font-size: 12px;">Email is required!</p>
            </ion-item>
            <ion-item  lines="none" *ngIf="frm.username.errors.email">
                <p style="color:red;font-size: 12px;">Email must be a valid email address!</p>
            </ion-item>
        </div>    
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="fixed" class="password">
            <ion-icon style="color: #1761A0;" name="lock"></ion-icon>
          </ion-label>
          <ion-input formControlName="password" [type]="passwordType" clearOnEdit="false"></ion-input>
          <ion-icon slot="end" [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()'></ion-icon>
        </ion-item>
        <div *ngIf="submitted && frm.password.errors" class="invalid-feedback">
      
            <ion-item lines="none" *ngIf="frm.password.errors.required">
                <p style="color:red;font-size: 12px;">Password is required!</p>
            </ion-item>
            <ion-item lines="none" *ngIf="frm.password.errors.minlength">
                <p style="color:red;font-size: 12px;">Password must be at least 6 characters!</p>
            </ion-item>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="forgetPass"  >
       <ion-item lines="none" >
        <ion-label  text-right style="font-size: 12px;">
            hre
                Forget Password?
              
        </ion-label>
       </ion-item>
           
        
      </ion-col>
    </ion-row>
    <br>
    <ion-row style="margin-top: 13px;">
      <ion-col>

        <ion-button  color="light" type="submit" class="button" expand="block" >LOGIN</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</form>
</ion-content>