<ion-content>
  <ion-grid>
    <ion-row>
      <br><br>
    </ion-row>
    <ion-row>
      <ion-col>
        <img src="../assets/images/logo.png" alt="IAMS" class="logo">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
          <ion-item>
              <ion-label position="fixed">Fixed Label</ion-label>
              <ion-input></ion-input>
            </ion-item>
            
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>