<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="data">

  </div>

  <!-- Skeleton screen -->
  <div *ngIf="!data">


    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="expandRequest">
            <ion-grid>
              <ion-row>
                <ion-col class="accessType">
                    <ion-skeleton-text animated style="width: 50%" ></ion-skeleton-text>
                </ion-col>
              </ion-row>
            </ion-grid>
            
            <ion-label>
              <h3>
               
              </h3>
              <p>
                <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
              </p>
              <p>
                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
              </p>
            </ion-label>
          </div>
        </ion-col>
      </ion-row>


    </ion-grid>






  </div>
</ion-content>