.expandRequest{
    
    min-height: 95px !important;
    background-color: #e4e4e475;

}
span{
    color: #243D5B;
    font-weight: bold;
    font-size: 13px;
}
label{
    color: #04080D;
    font-weight: bold;
    font-size: 13px;
}