<ion-header>
  <ion-toolbar color="danger">

    <img src="../assets/images/toolbar.png">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="dash-board"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <br>
    <ion-row>
      <ion-col>
        <div class="heading">

          {{accessName}}
        </div>

      </ion-col>

    </ion-row>
    <ion-row *ngFor="let m of briefData" style="height: 117px;">
      <ion-col>
        <ion-grid>
          <ion-card class="expandRequest" >
            <ion-row>
              <ion-col>
                <!-- <div >
                    Transaction No : {{m.transactionNumber}}
                </div> -->
                <ion-grid>
                  <ion-row>
                    <ion-col size="8" class="ion-float-left">
                      <label>Transaction No : <span>{{m.transactionNumber}}</span></label>
                    </ion-col>
                    <ion-col class="ion-float-right">
                      <span>{{m.desiredDate}}</span>
                    </ion-col>

                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <label>Business : <span>{{m.business}}</span></label>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <label>Role : <span>{{m.role}}</span></label>
                    </ion-col>
                  </ion-row>
                </ion-grid>

              </ion-col>
            </ion-row>
          </ion-card>

        </ion-grid>

      </ion-col>

    </ion-row>
  </ion-grid>


</ion-content>