// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These 
// styles are for the entire app and not just one component. Additionally, this 
// file can hold Sass mixins, functions, and placeholder classes to be imported 
// and used throughout the application.


.backArrow{
    position: relative;
    top: -50px;
    color: white;
    left: 7px;
}
.show{
    --background-repeat: no-repeat;
    --background-position: 50%;
    height: 100%;
    width: 100%;
    --background: url("../assets/images/tool.png");

    
}



