// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These 
// styles are for the entire app and not just one component. Additionally, this 
// file can hold Sass mixins, functions, and placeholder classes to be imported 
// and used throughout the application.
.ToolbarLogo{
    width: 90px;
    height: 90px;
    margin-left: 62px;
    margin-top: -15px;
    margin-bottom: -17px;
}
ion-toolbar{
    height: 68px;
    bac
}