<ion-header>
    <ion-toolbar color="danger">
  
      <img src="../assets/images/toolbar.png">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="dash-board" ></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  

<ion-content>
    <ion-grid>
  
      <ion-row>
        <ion-col>
  
          <img src="{{image}}" class="image">
          <ion-item lines="none">
              <ion-label text-center style="font-size: 12px;">
                <a href="javascript:;" style="text-decoration:none;color: #1761A0;" (click)="openCam()">Edit</a>
              </ion-label>
            </ion-item>
        </ion-col>
      </ion-row>
      <!-- <ion-row>
        <ion-col>
          <ion-item lines="none">
            <ion-label text-center style="font-size: 12px;">
              <a href="javascript:;" style="text-decoration:none;color: #1761A0;">Edit</a>
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row> -->
      <ion-row>
        <ion-col>
            <ion-item>
                <ion-label position="floating" class="textColor">Name</ion-label>
                <ion-input></ion-input>
              </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating" class="textColor">Email</ion-label>
            <ion-input></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
  
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating" class="textColor">Mobile No</ion-label>
            <ion-input></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
  
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating" class="textColor">Department</ion-label>
            <ion-input></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
  
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating" class="textColor">Designation</ion-label>
            <ion-input></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>