ion-item{
    width: 306px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.textColor{
    color: #083B66;
    font-size: 14px;
}
.image {
    height: 25vw;
    width: 25vw;
   border: 2px solid #fff;
   border-radius: 50%;
   box-shadow: 0 0 5px gray;
   display: block;
   margin-left: auto;
   margin-right: auto;
}

.editProfile{
    font-size: 20px;
    color: #E78200;
    font-weight: bold;
    font-family: Sitka Heading;
    text-align: center;
}
.fakeImage
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.Updatebutton{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 265px;
}
.topArrow{
    position: relative;
    top: 15px;
    width: 20px;
    height: 20px;
}
@media screen and (min-width: 0px) and (max-width: 400px) {
    .lansScape{
      display: none;
    }
  }
  
  @media screen and (min-width: 401px) and (max-width: 1024px) {
    .portrai{
      display: none;
    }
  }