<!-- <ion-header>
  <ion-toolbar color="danger">

    <img src="../assets/images/toolbar.png">

    
  </ion-toolbar>
</ion-header> -->
<ion-content>
    <!-- <ion-buttons slot="start">
      
        <ion-back-button [routerLink]="['/dash-board']"  ></ion-back-button>
      </ion-buttons> -->
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-icon class="topArrow" padding name="arrow-back" [routerLink]="['/dash-board']" ></ion-icon>
            
            <div class="editProfile"> 
                EDIT PROFILE
              </div>
      </ion-col>

    </ion-row>
    <ion-row>
      <ion-col>
      
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <img  class="fakeImage" *ngIf="fakeImage" src="../assets/images/profile.png" alt="">
        <div *ngFor="let photo of photoService.photos">

          <img [src]="photo.data" class="image" />

        </div>
        <!-- <img *ngIf="image" src="{{image}}" class="image"> -->
        <!-- <img *ngIf="!image" class="fakeImage"  src="../assets/images/profile.png" alt=""> -->
        <ion-item lines="none">
          <ion-label text-center (click)="photoService.openCam()">
            <!-- <a href="javascript:;" style="text-decoration:none;color: #1761A0;" >
                  </a> -->
                  <div (click)="clear()">

                    <ion-icon name="camera" style="width: 18px;height: 19px;" ></ion-icon>
                  </div>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <!-- <ion-row>
        <ion-col>
          <ion-item lines="none">
            <ion-label text-center style="font-size: 12px;">
              <a href="javascript:;" style="text-decoration:none;color: #1761A0;">Edit</a>
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row> -->
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating" class="textColor">Name</ion-label>
          <ion-input></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating" class="textColor">Email</ion-label>
          <ion-input></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating" class="textColor">Mobile No</ion-label>
          <ion-input></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating" class="textColor">Department</ion-label>
          <ion-input></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating" class="textColor">Designation</ion-label>
          <ion-input></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button color="light" type="submit" class="Updatebutton" expand="block">UPDATE</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>