.topArrow{
    position: relative;
    top: 15px;
    width: 20px;
    height: 20px;
}
img{
    width: 263px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.forgetPass{
    color: #FC7B10;
    font-weight: bold;
    font-size: 23px;
    text-align: center;
    font-family: Roboto;
}
.content{
    color: #083B66;
    text-align: center;
    font-family: Roboto;
}
.phoneNum{
    flex: 0 0 33px;
    min-width: 0;
}
ion-item{
    width: 306px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.recoverPass{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 265px;
}